@font-face {
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi.ttf') format('truetype');
}
@font-face {
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito.woff') format('woff'), url('/css/fonts/nunito.woff2') format('woff2');
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito-bold.woff') format('woff'), url('/css/fonts/nunito-bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito-light.woff') format('woff'), url('/css/fonts/nunito-light.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadproregular.ttf') format('truetype'), url('/css/fonts/myriadproregular.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: "Miriad Pro light";
  src: url('/css/fonts/myriadprolight.ttf') format('truetype'), url('/css/fonts/myriadprolight.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadprobold.ttf') format('truetype'), url('/css/fonts/myriadprobold.woff') format('woff');
  font-style: bold;
}
@font-face {
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadproit.ttf') format('truetype'), url('/css/fonts/myriadproit.woff') format('woff');
  font-style: italic;
}
/*====================================================================================================
End of imports
=====================================================================================================*/
/*=====================================================================================================
Begin variables
======================================================================================================*/
/*=====================================================================================================
End variables
======================================================================================================*/
/*=====================================================================================================
Begin extensibles
======================================================================================================*/
.scrollbars::-webkit-scrollbar {
  width: 6px;
}
.scrollbars::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.scrollbars::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
/*====================================================================================================
End of extensibles
=====================================================================================================*/
body {
  font-family: 'Myriad Pro light', 'Nunito', Arial;
  background-color: white;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.main_content {
  min_height: 600px;
}
.navbar {
  background-color: #038cd6;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar #nav_logo {
  height: 50px;
}
.navbar .auth-links {
  list-style-type: none;
  padding-left: 0px;
}
.navbar .auth-links .nav-item {
  display: inline !important;
  margin-top: 50%;
  transform: translateY(-50%);
}
.navbar .auth-links .nav-item .nav-link {
  display: inline !important;
  color: white;
}
.login_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}
.form_section {
  position: absolute;
}
#first_form_section {
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
}
#second_form_section {
  z-index: 20;
  top: 0px;
  left: 100%;
  background-color: white;
  width: 100%;
}
#second_form_section img {
  width: 40px;
}
#second_form_section h6 {
  text-align: center;
  font-weight: bold;
}
#second_form_section h6 + small {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
#second_form_section div {
  margin-top: 0px !important;
  margin-bottom: 0px;
}
#second_form_section label {
  font-weight: bold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px;
}
#third_form_section {
  z-index: 30;
  text-align: center;
  left: 100%;
  top: 0px;
  padding: 30px 0px;
  background-color: white;
  width: 100%;
  height: 450px;
}
#third_form_section h6 {
  font-weight: bold;
  margin: 8px 0px;
}
#third_form_section img {
  width: 40px;
}
#third_form_section p {
  line-height: 18px;
  font-size: 12px;
}
#third_form_section p a {
  font-weight: bold;
}
dashboard {
  margin-left: 0px! important;
  margin-right: 0px! important;
}
.dashboard-nav {
  height: 100vh;
  background-image: linear-gradient(180deg, #003b5c, #038cd6 100%);
  padding: 0px;
  margin: 0px;
  position: relative;
}
.dashboard-content {
  height: 100vh;
  tab-index: -1;
}
.dashboard-header {
  height: 150px;
}
.dashboard-top-header {
  background-image: url('/images/dashboard.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0px !important;
}
.dashboard-menu {
  border-bottom: 1px solid white;
  width: 100%;
  margin: 0px;
  position: absolute;
  z-index: 9999;
}
.dashboard-menu .menu-div {
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.dashboard-menu .menu-div #profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.dashboard-menu .menu-div #user-div {
  margin-left: 16px;
  width: 90px;
}
.dashboard-menu .menu-div #user-div #username {
  padding: 0px;
  margin: 0px;
}
.dashboard-menu .menu-div #user-div #teaching-status {
  font-size: 10px !important;
}
.dashboard-menu .menu-div span {
  width: calc(100% - 160px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 100%;
  width: 30px;
  cursor: pointer;
}
.dashboard-menu .menu-div span #menu-icon:hover {
  color: rgba(255, 255, 255, 0.8);
}
.dashboard-menu .menu-div .dashboard-popup {
  width: 250px;
  display: none;
  position: absolute;
  top: 0px;
  left: 120%;
  background-color: #efefef;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top {
  padding: 20px 10px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #popup-profile {
  width: 60px;
  display: inline-block;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #popup-profile #popup-profile-image {
  width: 100%;
  vertical-align: bottom;
  margin-top: 0px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #user-details {
  width: calc(100% - 80px);
  display: inline-block;
  height: 80px;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #user-details p {
  line-height: 1;
  margin-bottom: 0px;
  color: #787878;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #user-details p:first-child {
  color: black;
  font-size: 18px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #user-details #edit-email {
  font-size: 10px;
  margin-top: 5px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-top #user-details #reset-password {
  font-size: 10px;
  display: inline-block;
}
.dashboard-menu .menu-div .dashboard-popup .popup-bottom {
  background-color: #ddd;
  padding: 10px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-bottom button {
  color: #787878;
  background-color: white;
  border: 1px solid #787878;
  height: 25px;
  width: 60px;
  font-size: 12px;
}
.dashboard-menu .menu-div .dashboard-popup .popup-bottom button:last-child {
  float: right;
}
.dashboard-nav-items {
  position: absolute;
  z-index: 9999;
  top: 170px;
  padding: 0px;
  width: 100%;
}
.dashboard-nav-items #dashboard-nav-items-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.dashboard-nav-items #dashboard-nav-items-list .dashboard-nav-item {
  margin: 0px 20px 0px 0px;
  color: white;
  line-height: 2.5;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}
.dashboard-nav-items #dashboard-nav-items-list .dashboard-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.dashboard-nav-items #dashboard-nav-items-list .dashboard-nav-item img {
  width: 16px;
  margin: 0px 16px;
}
.dashboard-nav-items #dashboard-nav-items-list .dashboard-nav-item.active {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.divider {
  height: 1px;
  color: black;
  vertical-align: center;
  width: 100%;
}
.pane {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: scroll;
  flex-wrap: nowrap;
}
.pane::-webkit-scrollbar {
  width: 6px;
}
.pane::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.pane::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.loading-div {
  position: absolute;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  z-index: 999;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  display: none;
}
.loading-div .loading {
  width: 100px;
}
.broadcast-item {
  background-color: #efefef;
  border-radius: 16px;
  padding: 20px;
  margin: 5px 20px;
  cursor: pointer;
}
.broadcast-item.active {
  border: 1px solid green;
  min-height: 150px;
}
.broadcast-item h6 {
  text-transform: uppercase;
  font-weight: bold;
}
.broadcast-item p {
  line-height: 1;
  margin-bottom: 0px;
}
.broadcast-item .broadcast-message {
  margin-bottom: 0px;
  font-size: 14px;
  display: none;
}
.broadcast-item .broadcast-excerpt {
  margin-bottom: 0px;
  font-size: 14px;
}
.broadcast-item.important {
  background-image: linear-gradient(90deg, #f99a2b, #f92b42);
  color: white;
}
.item-content {
  width: 100%;
  height: calc(100% - 150px);
  margin: 0px;
  padding-top: 20px;
}
.item-content.active {
  display: flex;
}
.item-content .content-pane {
  height: 100%;
}
.item-content .content-pane .class-pane {
  width: 150px;
  display: inline !important;
  text-align: center;
}
.item-content .content-pane .class-pane #school-image {
  display: block;
  margin: auto;
}
.item-content .content-pane .class-pane #student-class {
  display: block;
  margin: auto;
}
.item-content#attendance-pane #attendance-date {
  margin: 16px;
  text-align: right;
}
.item-content#attendance-pane #child-attendance {
  margin-left: 48px;
  padding: 48px;
  width: 100%;
}
.item-content#attendance-pane #child-attendance .child-attendance-column .child-attendance-item {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  padding: 8px;
  width: 100%;
  position: relative;
  margin-bottom: -1px;
}
.item-content#attendance-pane #child-attendance .child-attendance-column .child-attendance-item .child-image {
  width: 50px;
  -webkit-clip-path: circle(30px at 50% 50%);
          clip-path: circle(30px at 50% 50%);
}
.item-content#attendance-pane #child-attendance .child-attendance-column .child-attendance-item .child-name {
  display: inline-block;
  margin-left: 16px;
  padding-top: 16px;
}
.item-content#attendance-pane #child-attendance .child-attendance-column .child-attendance-item .attendance-status {
  width: 30px;
  position: absolute;
  right: 16px;
  margin-top: calc(15px);
}
.item-content#attendance-pane #update-attendance {
  display: block;
  margin: 24px auto 48px auto;
  width: 150px;
}
.item-content#child-location-pane .input-group .input-group-prepend {
  background-color: white !important;
}
.item-content#child-location-pane .input-group .input-group-prepend .form-control {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.item-content#child-location-pane .input-group .input-group-prepend .input-group-text {
  background-color: white !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.item-content#chats-pane {
  flex-wrap: nowrap;
}
.item-content#chats-pane #send-message-image {
  height: 35px;
  margin-left: 8px;
}
.item-content#chats-pane #send-message-image:hover {
  opacity: 0.7;
}
.item-content#chats-pane .select-chat {
  background-color: white;
  border: 1px solid #eee;
  overflow: auto;
}
.item-content#chats-pane .select-chat::-webkit-scrollbar {
  width: 6px;
}
.item-content#chats-pane .select-chat::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.item-content#chats-pane .select-chat::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.item-content#chats-pane .select-chat .header {
  color: white;
  background-color: #707070;
  text-align: center;
  margin-top: 16px;
  padding: 4px 0px;
}
.item-content#chats-pane .select-chat .chat-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  margin-right: 0px !important;
}
.item-content#chats-pane .select-chat .chat-item:hover,
.item-content#chats-pane .select-chat .chat-item.active {
  background-color: #f5f5f5;
}
.item-content#chats-pane .select-chat .chat-item .initials {
  width: 60px;
  height: 60px;
  text-align: center;
}
.item-content#chats-pane .select-chat .chat-item .initials p {
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 18px;
}
.item-content#chats-pane .select-chat .chat-item .last-message {
  flex: 1;
  margin: 4px 16px;
  cursor: pointer;
}
.item-content#chats-pane .select-chat .chat-item .last-message h6 {
  margin-bottom: 4px;
}
.item-content#chats-pane .select-chat .chat-item .last-message p {
  font-size: 10px;
}
.item-content#chats-pane .select-chat .chat-item .next {
  align-item: right;
}
.item-content#chats-pane .select-chat .chat-item .next .fas {
  line-height: 60px;
}
.item-content#chats-pane .chat {
  height: 100%;
  margin-left: 0px !important;
  padding: 0px;
  overflow-y: hidden;
}
.item-content#chats-pane .chat .header {
  background-color: #d9edf7;
  text-align: center;
  color: black;
  padding: 16px 0px;
}
.item-content#chats-pane .chat #messages-container {
  padding: 8px;
  height: calc(100% - 110px);
  overflow-y: auto;
}
.item-content#chats-pane .chat #messages-container::-webkit-scrollbar {
  width: 6px;
}
.item-content#chats-pane .chat #messages-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.item-content#chats-pane .chat #messages-container::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.item-content#chats-pane .chat #messages-container.empty {
  visibility: invisible;
}
.item-content#chats-pane .chat #messages-container .message-time {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  margin-top: 16px;
}
.item-content#chats-pane .chat #messages-container .in-message {
  width: 300px;
  border-radius: 20px;
  background-color: #78849e;
  color: white;
  padding: 16px;
  position: relative;
}
.item-content#chats-pane .chat #messages-container .in-message p {
  margin-bottom: 0px;
}
.item-content#chats-pane .chat #messages-container .in-message .initials {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  background-color: #059500;
  right: 0px;
  top: -15px;
  border-radius: 15px;
  border: 2px solid white;
}
.item-content#chats-pane .chat #messages-container .in-message .initials p {
  line-height: 30px;
}
.item-content#chats-pane .chat #messages-container .out-message {
  width: 300px;
  border-radius: 20px;
  background-color: #188ac8;
  color: white;
  padding: 16px;
  position: relative;
}
.item-content#chats-pane .chat #messages-container .out-message p {
  margin-bottom: 0px;
}
.item-content#chats-pane .chat #messages-container .out-message .initials {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  background-color: #ff8000;
  left: 0px;
  top: -15px;
  border-radius: 15px;
  border: 2px solid white;
}
.item-content#chats-pane .chat #messages-container .out-message .initials p {
  line-height: 30px;
}
.item-content#chats-pane .chat #enter-message {
  height: 60px;
  padding: 4px;
}
.item-content#chats-pane .chat #enter-message input {
  width: 90%;
  border-radius: 20px;
  padding-left: 16px;
}
.item-content#inbox-pane .nav-tabs {
  background-color: #bbc9d0;
}
.item-content#inbox-pane .nav-tabs .nav-item {
  width: 200px;
  text-transform: uppercase;
}
.item-content#inbox-pane .nav-tabs .nav-item .nav-link {
  width: 100%;
  text-align: center;
}
.item-content#inbox-pane .nav-tabs .nav-item .nav-link.active {
  background-color: #707070;
  color: white;
}
.item-content#inbox-pane #tabContent {
  background-color: #d9ecf6;
}
.item-content#inbox-pane #tabContent #messages .single-message {
  padding: 8px 0px;
  background-color: #f5f5f5;
  margin: 4px 0px;
  align-items: center;
}
.item-content#inbox-pane #tabContent #messages .single-message p {
  margin-bottom: 0px;
}
.item-content#inbox-pane #tabContent #messages .single-message .form-check-input {
  padding-top: 0px;
  margin-left: 0rem;
}
.item-content#inbox-pane #tabContent #messages .single-message img {
  padding-top: 0px;
  margin-left: 40px;
}
.item-content#inbox-pane #tabContent #messages .single-message .sender-name {
  font-size: 12px;
  font-weight: bold;
}
.item-content#inbox-pane #tabContent #messages .single-message .message-title {
  font-size: 12px;
}
.item-content#inbox-pane #tabContent #messages .single-message .message-excerpt {
  font-size: 12px;
}
.item-content#digital-homework-pane {
  overflow: hidden;
}
.item-content#digital-homework-pane .homework-recipient-list {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.item-content#digital-homework-pane .homework-recipient-list #choose-recipient-header {
  padding: 8px;
  background-color: #038cd6;
  color: white;
  text-align: center;
  font-weight: bold;
}
.item-content#digital-homework-pane .homework-recipient-list #current-time {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search {
  width: 100%;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search::-webkit-input-placeholder {
  color: #ddd;
  font-style: italic;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search::-moz-placeholder {
  color: #ddd;
  font-style: italic;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search:-ms-input-placeholder {
  color: #ddd;
  font-style: italic;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search::-ms-input-placeholder {
  color: #ddd;
  font-style: italic;
}
.item-content#digital-homework-pane .homework-recipient-list #recipient-search::placeholder {
  color: #ddd;
  font-style: italic;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list {
  padding-top: 8px;
  overflow-y: scroll;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list::-webkit-scrollbar {
  width: 6px;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list .child-recipient-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 8px 32px;
  cursor: pointer;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list .child-recipient-item .child-image {
  width: 50px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list .child-recipient-item .child-name {
  margin-left: 24px;
  flex: 1;
  padding-top: 16px;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list .child-recipient-item .attendance-status {
  width: 30px;
  height: auto;
}
.item-content#digital-homework-pane .homework-recipient-list #child-recipient-list .child-recipient-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.item-content#digital-homework-pane #homework-history-subpane h3 {
  background-color: #038cd6;
  padding: 5px;
}
.item-content#digital-homework-pane #homework-history-subpane #homework-navigation {
  background-color: white;
  padding: 4px 32px;
  cursor: pointer;
}
.item-content#digital-homework-pane #homework-history-subpane #homework-navigation .fas {
  opacity: 0.5;
}
.item-content#digital-homework-pane #homework-history-subpane #homework-navigation .fas:hover {
  opacity: 1;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history {
  padding: 0px;
  overflow-y: scroll;
  box-sizing: border-box;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history::-webkit-scrollbar {
  width: 6px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history::-webkit-scrollbar-thumb {
  background-color: #003b5c;
  border-radius: 3px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 4px 24px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .school-image {
  height: 60px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .school-image img {
  height: 100%;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item.active,
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item:hover {
  background-color: #c2c2c2;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details {
  margin-left: 32px;
  width: 100%;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details .subject-title {
  text-transform: uppercase;
  margin: 0px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details .assignment-header {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details .tiny {
  color: #038cd6;
  font-size: 8px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details .time-set {
  margin-top: 0px;
  padding: 0px;
}
.item-content#digital-homework-pane #homework-history-subpane #teacher-homework-history .homework-list-item .homework-details .time-left {
  float: right;
  display: inline-block;
  margin-top: 8px;
}
.item-content#digital-homework-pane .homework-detail {
  box-sizing: border-box;
  width: 100%;
}
.item-content#digital-homework-pane .homework-detail #homework {
  height: 50px;
  padding: 16px;
  position: relative;
  padding-right: 0px;
}
.item-content#digital-homework-pane .homework-detail #homework #set-homework-top {
  width: 100%;
  margin-bottom: 24px;
}
.item-content#digital-homework-pane .homework-detail #homework #set-homework-top #set-assignment-date,
.item-content#digital-homework-pane .homework-detail #homework #set-homework-top #set-assignment-time {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #038cd6;
}
.item-content#digital-homework-pane .homework-detail #homework .homework-input {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid black;
  margin: 16px 0px;
  background-color: transparent;
}
.item-content#digital-homework-pane .homework-detail #homework img {
  position: absolute;
  right: 0px;
  top: 4px;
  cursor: pointer;
}
.item-content#digital-homework-pane .homework-detail #homework #send-assignment-image {
  top: 300px;
}
.item-content#subject-time-table-pane #time-table-header {
  position: relative;
  color: #038cd6;
  padding: 8px;
  border-bottom: 1px solid rgba(3, 140, 214, 0.2);
}
.item-content#subject-time-table-pane #time-table-header h4 {
  text-align: center;
}
.item-content#subject-time-table-pane #time-table-header p {
  text-align: center;
}
.item-content#subject-time-table-pane #time-table-header img {
  position: absolute;
  left: 100px;
  top: 0px;
  height: 80%;
}
.item-content#subject-time-table-pane #time-table-div {
  margin-top: 48px;
}
.item-content#subject-time-table-pane #time-table-div .table thead {
  color: white;
  background-color: #038cd6;
  padding: 0px !important;
  height: 10px  !important;
}
.item-content#subject-time-table-pane #time-table-div .table tr td {
  border: 2px solid #038cd6;
  text-transform: uppercase;
  font-size: 12px;
}
.item-content#subject-time-table-pane #time-table-div .table tr td:first-child {
  color: black;
  transform: matrix(1, -0.3, 0.3, 1, 0, 0);
  position: relative;
}
.item-content#subject-time-table-pane #time-table-div .table tr td:first-child:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #038cd6;
  position: absolute;
  left: calc(100% - 10px);
  top: calc(100% - 8px);
}
.item-content#teacher-status-pane .pane {
  padding: 48px;
}
.item-content#teacher-status-pane .select-status-item {
  height: 80px;
  background-color: #ebf1f4;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px 16px;
  align-items: center;
}
.item-content#teacher-status-pane .select-status-item .status-image {
  width: 30px;
}
.item-content#teacher-status-pane .select-status-item .status {
  flex: 1;
  margin-left: 16px;
  color: #038cd6;
  padding: 0px;
  margin-bottom: 0px;
}
.item-content#teacher-status-pane .select-status-item .select-status-radio {
  float: right;
}
.item-content#teacher-status-pane .view-child {
  margin-top: 200px !important;
  display: block;
  margin: auto;
  width: 100px;
}
.registration {
  margin-top: 50px;
  border-radius: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.social-login {
  position: relative;
}
.social-login img {
  position: absolute;
  width: 20px !important;
  top: 8px;
  left: 22px;
}
.login_form {
  padding: 20px 50px;
  position: relative;
  height: 450px;
  overflow: hidden;
}
.login_form img {
  width: 100px;
  display: block;
  margin: auto;
}
.login_form .form-control {
  background-color: rgba(0, 0, 0, 0.1);
}
.login_form.login {
  box-shadow: 0px 0px 20px #a7dffe;
  border-radius: 30px;
  height: 400px;
  margin-top: 100px;
  width: 350px !important;
  padding: 20px;
  border: 2px solid #038cd6;
  font-size: 12px;
}
.login_form.login .form-group {
  padding: 0px !important;
}
.form_holder {
  padding: 30px 50px;
}
.loading_bar {
  height: 3px;
  border-radius: 2px;
  width: 200px;
  background-color: #b3b3b3;
  display: block;
  margin: auto;
}
.loading_bar .loading_status {
  height: 100%;
  width: 0px;
  background-color: #038cd6;
  border-radius: 2px;
}
.separator-row {
  width: 100%;
  height: 16px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  text-align: center;
  padding-left: 0px;
}
.separator-row .separator {
  height: 1px;
  width: calc(100% - 16px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 8px;
  left: 0px;
}
.separator-row p {
  background-color: white !important;
  padding: 0 8px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.welcome {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-top: 100px;
  text-align: center;
}
#welcome_logo_div {
  display: inline-block;
  text-transform: uppercase;
  height: 150px;
  box-sizing: border-box;
}
#welcome_logo_div img {
  display: inline;
  width: 150px;
  height: auto;
}
#welcome_logo_div #side_div {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  transform: translateY(24px);
  color: #038cd6;
}
.scroll-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
}
.hide {
  display: none;
}
footer {
  padding: 10px 0px;
  background-color: #a1d1eb;
  margin-top: 50px;
  text-align: center;
}
#confirmation-modal .modal-content {
  border-radius: 30px;
}
#confirmation-modal .modal-content .modal-body {
  margin-top: 50px;
  text-align: center;
}
#confirmation-modal .modal-content .modal-footer {
  display: block;
  margin-bottom: 25px;
  text-align: left !important;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}
#info-modal .modal-content {
  border-radius: 30px;
}
#info-modal .modal-content .modal-body {
  margin-top: 50px;
  text-align: center;
}
#info-modal .modal-content .modal-footer {
  display: block;
  margin-bottom: 25px;
  text-align: center !important;
  border: none;
}
